@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 640px) {
    h1 , h2 , .card-title {
      font-size: 1.5rem; 
    }
  
    p, .card-description {
      font-size: 0.875rem; 
    }
  }
  
